@import url('https://fonts.googleapis.com/css?family=Poppins');


.navbar{
    width: 100%;
    height: 100px;
    background-color: #212427;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.navbarWrapper{
    width: 80%;
    display: flex;   
    align-items: center;
}

.logo{
    flex-grow: .4;
}

.navbarMenu{
    display: flex;
    color: aliceblue;
    gap: 10px;
    text-align: center;
}
.navbarBtns{
    display: flex;
    gap: 20px;
    display: none;
    
}

.navDeployer{
    width: 9rem;
    height: 3rem;
    background: #92278F;
    border-radius: 10px;
    color: aliceblue;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.navMarketplace{
    width: 10rem;
    height: 3rem;
    background: #372049;
    border-radius: 10px;
    color: aliceblue;
    border: none;
    font-family: 'Poppins', sans-serif;
}


@media only screen and (max-width : 840px) {

    .navbarMenu{
        display: none;
    }
    .navbarWrapper{
        justify-content: space-between;
    }
  }
  